<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<html lang="en">
<head>
    <title>后台首页</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../css/bootstrapValidator.min.css}">
    <link rel="stylesheet" th:href="@{../css/default.css}">
    <script th:src="@{../js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{../js/popper.min.js}"></script>
    <script th:src="@{../js/bootstrap.min.js}"></script>
    <script th:src="@{../js/bootstrapValidator.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function() {
            // 重置表单验证
            $('#resetBtn').click(function() {
                $('#groupForm').data('bootstrapValidator').resetForm(true);
            });
        });
        function  check() {
            // 验证表单的规则
            $('#groupForm').bootstrapValidator({
                live: 'enabled',
                message: '输入的值无效',
                submitButtons: 'button[type="submit"]',
                submitHandler: save(),
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    id: {
                        validators: {
                            notEmpty: {
                                message: '请输入编号'
                            }
                        }
                    },
                    name: {
                        validators: {
                            notEmpty: {
                                message: '请输入名称'
                            },
                            stringLength: {
                                min: 1,
                                max: 10,
                                message: '名称长度不能小于1位或超过10位'
                            }
                        }
                    },
                    type: {
                        validators: {
                            notEmpty: {
                                message: '请输入类型级别'
                            },
                            between: {
                                min: 0,
                                max: 10,
                                message: '输入有效数字'
                            }
                        }
                    }
                }
                });
        }

        function save() {
            var contextPath = $('#contextPath').attr('href');
            var url =contextPath+"api/group/save";
            $.ajax({
                type: "POST",
                url: url,
                data:JSON.stringify({
                    id: $("#id").val(),
                    name:$("#name").val(),
                    type:$("#type").val()
                }),
                async:false, //不是异步处理
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                processData:false,
                success:function(data){
                    if(data.code=="success"){
                        alert("保存成功");
                        return false;
                    }else{
                        alert(data.errMsg);
                    }
                },
                error:function(result){
                    alert(result.responseJSON.msg);
                }
            });
            return false;

        }



    </script>
</head>
<body>
<div class="container-fluid _body">

    <div th:include="common/nav :: html"></div>
    <div class="row _content">
        <div class="col-md-3 _menu">
            <div th:include="common/menu :: html"></div>
        </div>
        <div class="col-md-9 _main">
            <div class="_main_title">
                <h3>添加角色</h3>
            </div>
            <form id="groupForm" class="form-horizontal">
                <div class="form-group">
                    <label for="id" class="col-sm-2 control-label">编号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="id" name="id" placeholder="id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="type" class="col-sm-2 control-label">类型级别</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="type" name="type" placeholder="0">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" id="resetBtn">取消</button>
                        <button th:type="submit" class="btn btn-primary" onclick="check()">确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

